.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  margin: 0;
  color: var(--gris-fonce);
}

.error {
  color: var(--rouge-danger);
}

.grid {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 12px;
}


