@if (jeu()) {
  @let j = jeu()!;

  <mat-card class="card-container">

    @if (canManage()) {
      <button
        class="delete-btn"
        (click)="delete.emit(j.id!); $event.stopPropagation()"
        aria-label="Supprimer"
      >
        <mat-icon>close</mat-icon>
      </button>
    }

    <mat-card-header>
      <h2>{{ j.nom }}</h2>
    </mat-card-header>

    <mat-card-actions>
      <button
        type="button"
        class="btn-detail"
        (click)="goToDetail(j.id!)">
        Détail
      </button>
    </mat-card-actions>
  </mat-card>
}
