stages:
  - deploy

deploy_school_vm:
  stage: deploy
  image: alpine/git:latest
  tags:
    - docker
  before_script:
    # REMOVED: apk add --no-cache openssh-client (We don't need to download it anymore)
    
    - eval $(ssh-agent -s)
    - chmod 400 $SSH_PRIVATE_KEY
    - ssh-add $SSH_PRIVATE_KEY
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

  script:
    - echo "Connecting to School VM..."
    - ssh marius.poirier@162.38.111.37 "
        cd ~/FestivalAJouer &&
        git pull origin main &&
        docker compose -f docker-compose.prod.yml up --build -d
      "
  only:
    - main
