stages:
  - deploy

deploy_school_vm:
  stage: deploy
  tags:
    - deploy
  script:
    - cd ~/FestivalAJouer
    # 1. Reset any weird permission issues from previous runs
    - sudo chown -R $USER:$USER backend/certs || true
    
    # 2. Update code
    - git pull origin main
    
    # 3. Inject the Certificate from GitLab Variable
    - mkdir -p backend/certs
    - cp "$BACKEND_CERT" backend/certs/localhost.pem
    - cp "$BACKEND_KEY" backend/certs/localhost-key.pem
    
    # 4. Set correct permissions for the cert
    - chmod 644 backend/certs/localhost.pem
    
    # 5. Launch
    - docker compose -f docker-compose.prod.yml up --build -d
  only:
    - main
