<div class="list-container">
    <div class="header-actions">
        <button class="btn-add" (click)="show()">+ Ajouter un festival</button>
    </div>

    <ul class="festivals-list">
        @for (fest of festivales(); track fest.nom){
            <li>
                @let hiddenFestival = false;
                <app-festival-card 
                [festival]="fest"
                [hidden]="hiddenFestival">
                </app-festival-card>
            </li>
        }
    </ul>

    @if(showForm()){
        <app-festival-form (closeForm)="show()"></app-festival-form>
    }
    
</div>


