@if(zonePlan()){
    @let zone = zonePlan()!;
    <mat-card class="card-container">
        <button
            class="delete-btn"
            (click)="openDeletePopup(zone); $event.stopPropagation()"
            aria-label="Supprimer"
        >
            <mat-icon>close</mat-icon>
        </button>
        <mat-card-header>
            <h2  style="text-transform: capitalize;" >{{zone.nom}}</h2>
        </mat-card-header>
        <mat-card-content>
            @if (zoneTarifaire()) {
                <p>Zone tarifaire: <span>{{zoneTarifaire()!.nom}}</span></p>
                <p>Prix par table: <span>{{zoneTarifaire()!.prix_table | currency:'EUR'}}</span></p>
                <p>Prix au m²: <span>{{zoneTarifaire()!.prix_m2 | currency:'EUR'}}</span></p>
            } @else {
                <p>Zone tarifaire: <span>Non assignée</span></p>
            }
            <p>Nombre de tables : <span>{{zone.nombre_tables}}</span></p>

        </mat-card-content>
        <!-- <mat-card-actions>
            <button (click)="update.emit(zone.id!); $event.stopPropagation()">Modifier</button> 
        </mat-card-actions> -->
    </mat-card>

    <app-popup-delete
        [entiteType]="deleteType()"
        [entiteId]="deleteId()"
        [entitenom]="deletenom()"
        (confirm)="handleConfirm()"
        (cancel)="handleCancel()">
    </app-popup-delete>
}