@if(table()) {
  <div class="table-card-content">
    <div class="table-header">
      <h4 class="table-number">Table #{{ table()?.id }}</h4>
      <span class="table-capacity">{{ capacite() }} jeu(x)</span>
    </div>
    
    @if(showzoneplan()) {
      <div class="table-details">
        <span class="zone-badge">{{ zonePlan()?.nom }}</span>
      </div>
    }
     @if(zoneTarifaire()?.prix_table) {
          <span class="table-price">{{ zoneTarifaire()?.prix_table }}€</span>
        }@else {
          <span>Statut : {{table()?.statut}}</span>
        }
  </div>
}