<div class="list-container">
    @if (error()) {
        <div class="error-banner">
            {{error() }}
        </div>
    }
    @if(authsvc.isAdminSuperorga()){
        <div class="header-actions">
            <button class="btn-add" (click)="show()">+ Ajouter une zone</button>
        </div>

    }

    @if (isLoading()) {
        <p class="loading">Chargement des zones du plan...</p>
    } @else {
        @if(zonesPlan().length === 0){
              <p>Aucune zone du plan trouvée pour ce festival</p>
        }
        @else{
            <ul class="items-list">
                @for (zone of zonesPlan(); track zone.id) {
                    <li>
                        <app-zone-plan-card
                        [idZonePlan]="zone.id">
                        </app-zone-plan-card>
                    </li>
                }
            </ul>
        }

    }

    <!-- @if(showForm()){
        <app-zone-tarifaire-form (closeForm)="show()"></app-zone-tarifaire-form>
    } -->
    
    @if(showForm()){
        <app-zone-plan-form (closeForm)="show()"></app-zone-plan-form>
    }
    
</div>




