<div class="festival-selector">
    <div class="contenent">
        <label for="">Festival courant :</label>
        <select 
            [value]="currentFestival()?.id"
            (change)="onFestivalChange($any($event.target).value)">
            
            <option value="">{{currentFestival()?.nom}}</option>
            
            @for (festival of festivals(); track festival.id) {
            <option [value]="festival.id">
                {{ festival.nom }}
            </option>
            }
        </select>
    </div>
    <div class="radio-button">
        <mat-radio-group aria-label="Select an option" [value]="listselected()" (change)="onRadioChange($event)">
            <mat-radio-button [value]="1">Editeur</mat-radio-button>
            <mat-radio-button [value]="2">Jeux</mat-radio-button>
            <mat-radio-button [value]="3">Zone Tarifaire</mat-radio-button>
            <mat-radio-button [value]="4">Zone du Plan</mat-radio-button>
            <mat-radio-button [value]="5">Réservations</mat-radio-button>
        </mat-radio-group>

    </div>
</div>
